<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Accountverwaltung</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
     <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

    <div class="table-form">
        <h2>Accountverwaltung</h2>
        <button onclick="window.location.href='/create_account';">Account anlegen</button>
        <button onclick="window.location.href='/create_client';">Klient anlegen</button>

        <!-- Steuerbüro Tabelle -->
        {% if session['user_role'] == 'Steuerbuero' %}
        <h3>Steuerbüro</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
            </tr>
            {% for steuerbuero in steuerbueros %}
            <tr>
                <td>{{ steuerbuero.ID }}</td>
                <td>{{ steuerbuero.Vorname }}</td>
                <td>{{ steuerbuero.Nachname }}</td>
                <td>{{ steuerbuero.Email }}</td>
                <td>
                    <button onclick="window.location.href='/details/{{ steuerbuero.ID }}'">Details</button>
                </td>
                <td>
                    <button onclick="window.location.href='/edit/{{ steuerbuero.ID }}'">Bearbeiten</button>
                </td>
                {% if steuerbuero.Sperre %}
                <td>
                    <button onclick="window.location.href='/account_unlock/{{ steuerbuero.ID }}'">Entsperren</button>
                </td>
                {% else %}
                <td>
                    <button onclick="window.location.href='/account_lock/{{ steuerbuero.ID }}'">Sperren</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Keine Steuerbüros gefunden.</p>
        {% endif %}

        <!-- Sachbearbeiter/Kostenträger Tabelle -->
        {% if session['user_role'] == 'Sachbearbeiter' %}
        <h3>Sachbearbeiter/Kostenträger</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
            </tr>
            {% for sb in sachbearbeiter %}
                <tr>
                    <td>{{ sb.ID }}</td>
                    <td>{{ sb.Vorname }}</td>
                    <td>{{ sb.Nachname }}</td>
                    <td>{{ sb.Email }}</td>
                    <td>
                        <button onclick="window.location.href='/details/{{ sb.ID }}'">Details</button>
                    </td>
                    <td>
                        <button onclick="window.location.href='/edit/{{ sb.ID }}'">Bearbeiten</button>
                    </td>
                    {% if sb.Sperre %}
                    <td>
                        <button onclick="window.location.href='/account_unlock/{{ sb.ID }}'">Entsperren</button>
                    </td>
                    {% else %}
                    <td>
                        <button onclick="window.location.href='/account_lock/{{ sb.ID }}'">Sperren</button>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% include 'FAN030_show_employee_table.html' %}
    {% include 'FAN040_show_client_table.html' %}
    </div>
</body>
</html>
