<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kliententabelle</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="center-container-tables">
        <div class="table-container">
            <h3>Kliententabelle</h3>

            <div class="form-row">
                <div class="mein-eindeutiges-formular">
                    <form action="/show_clients" method="post" style="display: flex;flex-direction: row; align-items: center; gap: 10px">
                        <label for="monat_jahr"></label>
                        <select name="monat_jahr" id="monat_jahr">
                            {% for kombination in kombinationen %}
                            <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                                {{ kombination }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Anzeigen</button>
                    </form>
                </div>
            </div>

                <table>
                    {% if clients %}
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                <th>Kontingent FK</th>
                                <th>Kontingent HK</th>
                                <th>Saldo FK</th>
                                <th>Saldo HK</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client[0] }}</td>
                                    <td>{{ client[2] }}</td>
                                    <td>{{ client[1] }}</td>
                                    <td>{{ client[3] }}</td>
                                    <td>{{ client[4] }}</td>
                                    <td>{{ client.saldo_fk }}</td>
                                    <td>{{ client.saldo_hk }}</td>
                                    <!-- Button Logik -->
                                    <td>
                                        <form action="{{url_for('client_hours_blueprint.client_supervision_hours', client_id=client[0])}}" method="get">
                                            <button type="submit">Zeiteintrag ansehen</button>
                                        </form>
                                    </td>
                                    {% if role == 'Verwaltung' %}
                                    <td>
                                        <form action="{{url_for('edit_client.edit_client', client_id=client[0])}}" method="get">
                                            <button type="submit">Bearbeiten</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{url_for('client_details.client_details', client_id=client[0])}}" method="get">
                                            <button type="submit">Details</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                            <tr>
                                <td colspan="5" style="text-align: center;">Keine Klienten gefunden.</td>
                            </tr>
                        </tbody>
                    {% endif %}
                    </table>


            <p id="no-clients-message" style="display: none;">Keine Klienten gefunden.</p>
        </div>
    </div>
</body>
</html>

