<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeitertabelle</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="center-container-tables">
        <div class="table-container">
            <h3>Mitarbeitertabelle</h3>
            <div class="time-selection-container">
                <div class="mein-eindeutiges-formular">
                    <form action="{{url_for('show_employee_table.mitarbeiter')}}" method="post" style="display: flex;flex-direction: row; align-items: center; gap: 10px">
                        <label for="monat_jahr"></label>
                        <select name="monat_jahr" id="monat_jahr">
                            {% for kombination in kombinationen %}
                            <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                                {{ kombination }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Anzeigen</button>
                    </form>
                </div>
            </div>
            {% if mitarbeiterliste %}
                <table>
                    <thead>
                        <tr>
                            <th>Personalnr.</th>
                            <th>Nachname</th>
                            <th>Vorname</th>
                            <th>geleistete Stunden</th>
                            <th>gefahrene Kilometer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mitarbeiter in mitarbeiterliste %}
                        <tr>
                            <td>{{ mitarbeiter[0] }}</td>
                            <td>{{ mitarbeiter[1] }}</td>
                            <td>{{ mitarbeiter[2] }}</td>
                            <td>{{ mitarbeiter[3] }}</td>
                            <td>{{ mitarbeiter[4] }}</td>
                            <td>
                                <input type="hidden" name="lock_account" value="{{ mitarbeiter[5] }}" /> <!-- hidden attribut lock -->
                            </td>
                            {% if user_role == 'Verwaltung' %}
                                <td>
                                    <form action="{{url_for('account_details.account_details',person_id=mitarbeiter[0])}}" method="post">
                                        <button type="submit">Details</button>
                                    </form>
                                </td>
                            {% endif %}
                                <td>
                                    <form action="{{url_for('view_time_entries.view_time_entries', person_id = mitarbeiter[0])}}" method="post">
                                        <button type="submit">Zeiteintrag ansehen</button>
                                    </form>
                                </td>
                            {% if user_role == 'Verwaltung' %}
                                <td>
                                    <form action="{{ url_for('edit_account.edit_account', person_id=mitarbeiter[0]) }}" method="post">
                                        <button type="submit">Bearbeiten</button>
                                    </form>
                                </td>
                                <td>
                                {% if mitarbeiter[5] == 0 %}
                                    <form action="{{ url_for('account_lock.account_lock', person_id=mitarbeiter[0]) }}" method="post">
                                        <button id="lock_mitarbeiter">Sperren</button>
                                    </form>
                                {% else %}
                                    <form action="{{ url_for('account_unlock.account_unlock', person_id=mitarbeiter[0]) }}" method="post">
                                        <button id="unlock_mitarbeiter">Entsperren</button>
                                    </form>
                                {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Keine Mitarbeiter gefunden.</p>
            {% endif %}
            </b><br/>
            {% if session['user_role'] in ['Steuerbüro', 'Geschäftsführung'] %}
            <div class="export-print-buttons">
                <button onclick="exportTableToCSV()">Exportieren</button>
                <button onclick="printTable()">Drucken</button>
            </div>
            {% endif %}
        </div>
    </div>
     <script>
        window.onload = function() {
            var height = document.documentElement.scrollHeight || document.body.scrollHeight;
            window.parent.postMessage({
                'iframeHeight': height,
                'iframeId': 'mitarbeiterIframe'
            }, '*');
        };
    </script>
    <script>
        // JavaScript-Code zur wechselnden beschriftung des "sperren" / "entsperren" buttons
        // hat mal funktioniet jetzt nicht mehr
        // document.getElementById("toggleButton").addEventListener("click", function() {
            // var button = document.getElementById("toggleButton");
            // if (button.innerHTML === "Sperren") {
                // button.innerHTML = "Entsperren";
            // } else {
                // button.innerHTML = "Sperren";
            // }
        // });

        function exportTableToCSV(tableId, filename) {
            var csv = [];
            var rows = document.querySelectorAll(tableId + ' tr');

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    // Prüfen, ob das Element ein Button ist
                    if (!cols[j].querySelector("button")) {
                        row.push('"' + cols[j].innerText + '"');
                    }
                }

                if (row.length > 0) {
                    csv.push(row.join(","));
                }
            }

            // Download-Link erstellen und klicken
            var csvString = csv.join("\n");
            var link = document.createElement("a");
            link.setAttribute('target', '_blank');
            link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csvString));
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

        document.getElementById('exportButton').addEventListener('click', function () {
            exportTableToCSV('#client_hours', 'client_hours.csv');
        });
        function printTable() {
            // Implementieren Sie die Logik zum Drucken der Tabelle
        }

        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {%if get_flashed_messages() %}
            let modal = document.getElementById("flashModal");
            let span = document.getElementsByClassName("close")[0];

            // Modal anzeigen
            modal.style.display = "block";

            // Schließen, wenn das "X" geklickt wird
            span.onclick = function () {
                modal.style.display = "none";
            };

            // Schließen, wenn außerhalb des Modals geklickt wird
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
            {%endif %}
        }
    </script>
</body>
</html>

