<!DOCTYPE html>
<html lang="DE">
<head>
    <title>Startseite</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
     <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

     <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="table-form">

        <h3>Kliententabelle</h3>
        <div id="userRole" data-role="{{ role }}"></div>
        <div class="form-row">
            <div class="mein-eindeutiges-formular">
                <label for="monat_jahr_dropdown_k"></label>
                <select id="monat_jahr_dropdown_k">
                    {% for kombination in kombinationen %}
                    <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                        {{ kombination }}
                    </option>
                    {% endfor %}
                </select>
                <button type="button" id="anzeigenButton_k">Anzeigen</button>
            </div>
        </div>
        <div id="clients_table_container"></div>
        <p id="no-clients-message" style="display: none;">Keine Klienten gefunden.</p>

        <h3>Mitarbeitertabelle</h3>
        <div class="form-row">
            <div class="mein-eindeutiges-formular">
                <label for="monat_jahr_dropdown_m"></label>
                <select id="monat_jahr_dropdown_m">
                    {% for kombination in kombinationen %}
                    <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                        {{ kombination }}
                    </option>
                    {% endfor %}
                </select>
                <button type="button" id="anzeigenButton_m">Anzeigen</button>
            </div>
        </div>
        <div id="employee_table_container"></div>
        <p id="no-employee-message" style="display: none;">Keine Mitarbeiter gefunden.</p>

    </div>


    <script src="{{ url_for('static', filename='FAN040_show_client_table.js') }}"></script>
    <script src="{{ url_for('static', filename='FAN030_show_employee_table.js') }}"></script>

    <script>
        window.addEventListener('message', function(e) {
            if (e.data.iframeHeight && e.data.iframeId) {
                document.getElementById(e.data.iframeId).style.height = e.data.iframeHeight + 'px';
            }
        }, false);
    </script>
    <script>
        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
        }

    </script>
</body>
</html>

