<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeitertabelle</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="center-container-tables">
        <div class="table-container">
            <h3>Mitarbeitertabelle</h3>
            <div class="time-selection-container">
                <form action="/show_employee_table" method="post" >
                    <label for="monat_jahr"></label>
                    <select name="monat_jahr" id="monat_jahr">
                        {% for kombination in kombinationen %}
                        <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                            {{ kombination }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Anzeigen</button>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Personalnr.</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Geleistete Stunden</th>
                        <th>Gefahrene Kilometer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mitarbeiter in mitarbeiterliste %}
                    <tr>
                        <td>{{ person.id }}</td>
                        <td>{{ person.vorname }}</td>
                        <td>{{ person.nachname }}</td>
                        <td>{{ person.geleistete_stunden }}</td>
                        <td>{{ person.gefahrene_kilometer }}</td>
                        <td>
                            <form action="/view_time_entries/<int:person_id>" method="post">
                                <button type="submit">Zeiteintrag ansehen</button>
                            </form>
                        </td>
                        {% if user_role == 'Verwaltung' %}
                        <td>
                            <form action="/edit_account/<int:person_id>" method="post">
                                <button type="submit">Bearbeiten</button>
                            </form>
                        </td>
                        <td>
                            <form action="/account_lock/<int:person_id>" method="post">
                                <button id="toggleButton">Sperren</button>
                            </form>
                        </td>
                        <td>
                            <form action="/account_details/<int:person_id>" method="post">
                                <button type="submit">Details</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </b><br/>
            {% if session['user_role'] in ['Steuerbüro', 'Geschäftsführung'] %}
            <div class="export-print-buttons">
                <button onclick="exportToCSV()">Exportieren</button>
                <button onclick="printTable()">Drucken</button>
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        // JavaScript-Code zur wechselnden beschriftung des "sperren" / "entsperren" buttons
        // hat mal funktioniet jetzt nicht mehr
        document.getElementById("toggleButton").addEventListener("click", function() {
            var button = document.getElementById("toggleButton");
            if (button.innerHTML === "Sperren") {
                button.innerHTML = "Entsperren";
            } else {
                button.innerHTML = "Sperren";
            }
        });

        function exportToCSV() {
            // Implementieren Sie die Logik zum Exportieren der Tabelle in CSV-Format
        }
        function printTable() {
            // Implementieren Sie die Logik zum Drucken der Tabelle
        }
        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
    </script>
</body>
</html>

