<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Protokoll</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Menüleiste einbinden-->
    {% include 'FAN020_navbar.html' %}

    <div class="registration-form">
        <div class="table-container">
            <h3>Änderungsprotokoll</h3>
            <form action="/show_protocol" method="post">
                <div class="form-row">
                    <div class="form-group">
                        <label for="von">Von:</label>
                        <input type="date" id="von" name="von" value="{{von}}">
                    </div>
                    <div class="form-group">
                        <label for="bis">Bis:</label>
                        <input type="date" id="bis" name="bis" value="{{bis}}">
                    </div>
                    <div class="form-group">
                        <label for="nutzer">Ändernder Nutzer:</label>
                        <select class="form-control" id="nutzer" name="nutzer">
                            <!-- Optionen werden durch Python generiert -->
                            <option value="" disabled selected>Bitte wählen</option>
                            {% for nutzer in nutzers %}
                            <option value="{{nutzer.id}}">{{nutzer.nachname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="eintrags_id">Eintrags ID:</label>
                        <input type="number" id="eintrags_id" name="eintrags_id" value="{{eintrags_id}}">
                    </div>
                    <button type="submit">Filtern</button>
                </div>
            </form>
        </div>
        <div class="scrollable-container">
            <br>
            {% if kombinierte_liste %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Zeit</th>
                        <th>Ändernder Nutzer</th>
                        <th>Tabelle</th>
                        <th>ID des geänderten Eintrags</th>
                        <th>Eintrag vorher</th>
                        <th>Eintrag nachher</th>
                    </tr>
                </thead>
                <tbody>
                    {% for protocol, entry in kombinierte_liste %}
                        <tr>
                            <td>{{ protocol[0] }}</td>
                            <td>{{ protocol[1] }}</td>
                            <td>{{ protocol[2] }}</td>
                            <td>{{ protocol[3] }}</td>
                            <td>{{ protocol[4] }}</td>
                            <td>
                                {% for key, value in entry[0].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, value in entry[1].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>Keine Daten gefunden</p>
            {% endif %}

        </div>
    </div>
</body>
</html>

