<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Buchung Revidieren PopUp</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="popup-content-small">
        <h3>Soll die Buchung von Monat <span id="selectedMonth">Monat</span> wirklich revidiert werden?</h3>
        <div class="form-actions">
            <button id="buchen">Revidieren</button>
            <button id="abbrechen" onclick="window.location='/FMOF010_show_supervisionhours_client.html';">Abbrechen</button>
        </div>
    </div>
</body>
</html>