<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Buchung Revidieren PopUp</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="popup-content-small">
        <form action="{{url_for('redo_booking_blueprint.revidieren_buchung', client_id=client_id)}}" method="post">
            <h3>
                {% if last_buchung %}
                    Soll die Buchung von Monat {{ last_buchung }} wirklich revidiert werden?
                {% else %}
                    Soll die letzte Buchung wirklich revidiert werden?
                {% endif %}
            </h3>
            <div class="form-actions">
                <button type="sumbit" id="buchen">Revidieren</button>
                <button type="button" onclick="close_popup()">Abbrechen</button>
            </div>
        </form>
    </div>
    <script>
        function close_popup() {
            var return_url = "{{ return_url }}";
            window.location.href = return_url;
        }
    </script>
</body>
</html>