<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbeitsstunden Bearbeiten</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="overlay" style="display:none;"></div>
    <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

    <div class="registration-form">
        <h2>Zeiteintrag bearbeiten</h2>
        <form action="/edit_time_entry" method="post">
            <div class="form-row">
                <div class="form-group">
                    <label for="datum">Datum:</label>
                    <input type="date" id="datum" name="datum" value="{{datum}}" required>
                </div>
                <div class="form-group">
                    <label for="startZeit">Startzeitpunkt:</label>
                    <input type="time" id="startZeit" name="startZeit" value="{{von}}" required>
                </div>
                <div class="form-group">
                    <label for="endZeit">Endzeitpunkt:</label>
                    <input type="time" id="endZeit" name="endZeit" value="{{bis}}" required>
                </div>
                <div class="form-group">
                    <label for="fachkraft">Fachkraft:</label>
                    <input type="checkbox" id="fachkraft" name="fachkraft" {% if zeiteintrag[7] %} checked {% endif %} >
                </div>
                <div class="form-group">
                    <label for="klientDropdown">Klient:</label>
                    <select class="form-control" id="klientDropdown" name="klientDropdown">
                        <option value="" selected disabled>Bitte auswählen</option>
                        {% for klient in klienten %}
                            <option value="{{ klient.id }}">{{ klient.id }} - {{ klient.nachname }}, {{ klient.vorname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="beschreibung">Beschreibung:</label>
                    <input type="text" id="beschreibung" name="beschreibung" value="{{zeiteintrag[8] if zeiteintrag[8] else ''}}" >
                </div>
                <div class="form-group">
                    <label for="interneNotiz">Interne Notiz:</label>
                    <input type="text" id="interneNotiz" name="interneNotiz" value="{{zeiteintrag[9] if zeiteintrag[9] else ''}}" >
                </div>
                <div class="form-group">
                    <label for="absage">Absage:</label>
                    <input type="checkbox" id="absage" name="absage"{% if zeiteintrag[11] %} checked {% endif %}>
                </div>
            </div>
            <h3>Fahrten:</h3>
                <div id="fahrtenContainer">
                    <div class="form-row fahrt-row">
                        <div class="form-group">
                            <label for="abrechenbarkeit{{ index }}">Anrechenbarkeit:</label>
                        </div>
                        <div class="form-group">
                            <label for="start_adresse{{ index }}">Start Adresse:</label>
                        </div>
                        <div class="form-group">
                            <label for="end_adresse{{ index }}">End Adresse:</label>
                        </div>
                        <div class="form-group">
                            <label for="kilometer{{ index }}">Kilometer:</label>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="fahrtCounterInput" name="fahrtCounterInput">
                        </div>
                    </div>
                {% set index = 0 %}
                {% for fahrt in fahrten %}
                    <!-- Ursprüngliche Fahrt-Eingabezeile -->
                    <div class="form-row fahrt-row">
                        <div class="form-hidden">
                            <input type="hidden" id="fahrt_id0" name="fahrt_id0">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="abrechenbarkeit{{ index }}" name="abrechenbarkeit{{ index }}" {% if fahrt[4] %} checked {% endif %}>
                        </div>
                        <div class="form-group">
                            <input type="text" id="start_adresse{{ index }}" name="start_adresse{{ index }}" value="{{ fahrt[2] }}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="end_adresse{{ index }}" name="end_adresse{{ index }}" value="{{ fahrt[3] }}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="kilometer{{ index }}" name="kilometer{{ index }}" value="{{ fahrt[1] }}">
                        </div>
                        <button type="button" onclick="addFahrt()">+</button>
                        <button type="button" onclick="removeFahrt(this)">-</button>
                    </div>
                {% set index = index + 1 %}
                {% endfor %}
                </div>

            <!--Unterschriften Felder -->
            <div class="form-row">
                <div class="signature-container" onclick="openSignaturePopup('Klient')">
                    <p>Unterschrift Klient</p>

                </div>

                <div class="signature-container" onclick="openSignaturePopup('Mitarbeiter')">
                    <p>Unterschrift Mitarbeiter</p>
                </div>
            </div>

            <!-- Pop-up für Unterschrift Klient -->
            <div id="signaturePopupKlient" class="signature-popup" style="display:none;">
                <canvas id="signatureCanvasKlient" width="400" height="200" style="border:1px solid #000;"></canvas>
                <div class="signature-actions">
                    <button type="button" onclick="saveSignature('Klient')">Speichern</button>
                    <button type="button" onclick="clearSignature('Klient')">Leeren</button>
                    <button type="button" onclick="closePopup('Klient')">Schließen</button>
                </div>
            </div>


            <!-- Pop-up für Unterschrift Mitarbeiter -->
            <div id="signaturePopupMitarbeiter" class="signature-popup" style="display:none;">
                <canvas id="signatureCanvasMitarbeiter" width="400" height="200" style="border:1px solid #000;"></canvas>
                <div class="signature-actions">
                    <button type="button" onclick="saveSignature('Mitarbeiter')">Speichern</button>
                    <button type="button" onclick="clearSignature('Mitarbeiter')">Leeren</button>
                    <button type="button" onclick="closePopup('Mitarbeiter')">Schließen</button>
                </div>
            </div>

            <!-- Versteckte Formularfelder für Unterschriftsdaten -->
            <input type="hidden" id="signatureDataKlient" name="signatureDataKlient">
            <input type="hidden" id="signatureDataMitarbeiter" name="signatureDataMitarbeiter">


            <div class="form-actions">
                <button type="submit">Bestätigen</button>
                <button type="button" onclick="window.location='/FMOF010';">Abbrechen</button>
            </div>
        </form>
    </div>

    <script>
        let fahrtCounter = 1;
        document.getElementById('fahrtCounterInput').value = fahrtCounter;

        function addFahrt() {
            const fahrtContainer = document.getElementById('fahrtenContainer');
            const newFahrtRow = document.createElement('div');
            newFahrtRow.classList.add('form-row', 'fahrt-row');
            newFahrtRow.innerHTML = `
                        <div class="form-hidden">
                           <input type="hidden" id="fahrt_id${fahrtCounter}" name="fahrt_id${fahrtCounter}">
                        </div>
                        <div class="form-group">
                           <input type="checkbox" id="abrechenbarkeit${fahrtCounter}" name="abrechenbarkeit${fahrtCounter}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="start_adresse${fahrtCounter}" name="start_adresse${fahrtCounter}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="end_adresse${fahrtCounter}" name="end_adresse${fahrtCounter}" required>
                        </div>
                        <div class="form-group">
                            <input type="number" id="kilometer${fahrtCounter}" name="kilometer${fahrtCounter}" required>
                        </div>
                        <button type="button" onclick="addFahrt()">+</button>
                        <button type="button" onclick="removeFahrt(this)">-</button>
                        </div>
            `;
            fahrtContainer.appendChild(newFahrtRow);
            fahrtCounter++;
            document.getElementById('fahrtCounterInput').value = fahrtCounter;
        }

        function removeFahrt(buttonElement) {
            const fahrtContainer = document.getElementById('fahrtenContainer');
            const fahrtRows = fahrtContainer.getElementsByClassName('fahrt-row');

            if (fahrtRows.length > 1) {
                const fahrtRow = buttonElement.closest('.fahrt-row');
                fahrtRow.remove();
                fahrtCounter--;// Reduziere den Zähler nur, wenn eine Zeile entfernt wurde
                document.getElementById('fahrtCounterInput').value = fahrtCounter;
                }
        }


    </script>
    <script>
        //Einrichten des Canvas
        function setupCanvas(canvasId) {
            let canvas = document.getElementById(canvasId);
            let context = canvas.getContext('2d');
            let drawing = false;

            canvas.addEventListener('mousedown', function(e) {
                drawing = true;
                context.moveTo(e.offsetX, e.offsetY);
            });

            canvas.addEventListener('mousemove', function(e) {
                if (drawing) {
                    context.lineTo(e.offsetX, e.offsetY);
                    context.stroke();
                }
            });

            canvas.addEventListener('mouseup', function(e) {
                drawing = false;
            });

            canvas.addEventListener('mouseleave', function(e) {
                drawing = false;
            });
        }

        // Initialisiere beide Canvas-Elemente
        setupCanvas('signatureCanvasKlient');
        setupCanvas('signatureCanvasMitarbeiter');
        function openSignaturePopup(type) {
            document.getElementById(`signaturePopup${type}`).style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }
        // Schließen Popup
        function closePopup(type) {
            event.preventDefault();
            document.getElementById(`signaturePopup${type}`).style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }
        // Leeren Popup
        function clearSignature(type) {
            event.preventDefault();
            let canvas = document.getElementById(`signatureCanvas${type}`);
            let context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height);
            context.beginPath();
        }
        // Speichern Popup
        function saveSignature(type) {
            event.preventDefault();
            let canvas = document.getElementById(`signatureCanvas${type}`);
            let signatureData = canvas.toDataURL();
            document.getElementById(`signatureData${type}`).value = signatureData;
            document.getElementById(`signatureImage${type}`).src = signatureData;
            document.getElementById(`signatureImage${type}`).style.display = "block";
            closePopup(type);
        }

        function validateFahrten() {
            let fahrtRows = document.querySelectorAll('.fahrt-row');
            for (let row of fahrtRows) {
                let startAdresse = row.querySelector('[name^="start_adresse"]').value.trim();
                let endAdresse = row.querySelector('[name^="end_adresse"]').value.trim();
                let kilometer = row.querySelector('[name^="kilometer"]').value.trim();

                let allFilled = startAdresse && endAdresse && kilometer;
                let allEmpty = !startAdresse && !endAdresse && !kilometer;

                if (!(allFilled || allEmpty)) {
                    alert('Wenn sie einen Fahrteintrag anlegen, müssen alle Felder ausgefüllt sein.');
                    return false;
                }
            }
            return true;
        }

        function validateSignatures() {
            let signatureDataKlient = document.getElementById('signatureDataKlient').value;
            let signatureDataMitarbeiter = document.getElementById('signatureDataMitarbeiter').value;

            if (!signatureDataKlient || !signatureDataMitarbeiter) {
                alert('Bitte alle erforderlichen Unterschriften leisten.');
                return false;
            }
            return true;
        }

    </script>
</body>
</html>


