<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbeitsstunden Eintrag</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="registration-form">
        <h2>Erbrachte Arbeitsleistung hinzufügen</h2>
        <form action="/client_hours_blueprint.client_supervision_hours" method="post">
            <div class="form-row">
                <div class="form-group">
                    <label for="datum">Datum:</label>
                    <input type="date" id="datum" name="datum" required>
                </div>
                <div class="form-group">
                    <label for="startZeit">Startzeitpunkt:</label>
                    <input type="time" id="startZeit" name="startZeit" required>
                </div>
                <div class="form-group">
                    <label for="endZeit">Endzeitpunkt:</label>
                    <input type="time" id="endZeit" name="endZeit" required>
                </div>
                <div class="form-group">
                    <label for="fachkraft">Fachkraft:</label>
                    <input type="checkbox" id="fachkraft" name="fachkraft">
                </div>
                <div class="form-group">
                    <label for="klient">Klient:</label>
                    <select id="klient" name="klient">
                        <!-- Klienten DROPDOWN -->
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="beschreibung">Beschreibung:</label>
                    <input type="text" id="beschreibung" name="beschreibung" >
                </div>
                <div class="form-group">
                    <label for="interneNotiz">Interne Notiz:</label>
                    <input type="text" id="interneNotiz" name="interneNotiz" >
                </div>
                <div class="form-group">
                    <label for="absage">Absage:</label>
                    <input type="checkbox" id="absage" name="absage">
                </div>
            </div>
            <h3>Fahrten:</h3>
            <div id="fahrtenContainer">
                <!-- Ursprüngliche Fahrt-Eingabezeile -->
                <div class="form-row fahrt-row">
                    <div class="form-group">
                        <label for="abrechenbarkeit0">Abrechenbarkeit:</label>
                        <input type="checkbox" id="abrechenbarkeit0" name="abrechenbarkeit0" required>
                    </div>
                    <div class="form-group">
                        <label for="start_adresse0">Start Adresse:</label>
                        <input type="text" id="start_adresse0" name="start_adresse0" required>
                    </div>
                    <div class="form-group">
                        <label for="end_adresse0">End Adresse:</label>
                        <input type="text" id="end_adresse0" name="end_adresse0" required>
                    </div>
                    <div class="form-group">
                        <label for="kilometer0">Kilometer:</label>
                        <input type="number" id="kilometer0" name="kilometer0">
                    </div>
                    <button type="button" onclick="addFahrt()">+</button>
                    <button type="button" onclick="removeFahrt(this)">-</button>
                </div>
            </div>

            <div class="form-actions">
                <div class="form-group">
                    <label>Unterschrift Klient:</label>
                    <button type="button" onclick="window.location='/sign_capture';">Unterschrift Klient</button>
                </div>
                <div class="form-group">
                    <label>Unterschrift Mitarbeiter:</label>
                    <button type="button" onclick="window.location='/sign_capture';">Unterschrift Mitarbeiter</button>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit">Eintrag hinzufügen</button>
                <button type="button" onclick="window.location='/client_supervision_hours';">Abbrechen</button>
            </div>
        </form>
    </div>

    <script>
        let fahrtCounter = 1;

        function addFahrt() {
            const fahrtContainer = document.getElementById('fahrtenContainer');
            const newFahrtRow = document.createElement('div');
            newFahrtRow.classList.add('form-row', 'fahrt-row');
            newFahrtRow.innerHTML = `
                        <div class="form-group">
                           <input type="checkbox" id="abrechenbarkeit${fahrtCounter}" name="abrechenbarkeit${fahrtCounter}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="start_adresse${fahrtCounter}" name="start_adresse${fahrtCounter}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="end_adresse${fahrtCounter}" name="end_adresse${fahrtCounter}" required>
                        </div>
                        <div class="form-group">
                            <input type="number" id="kilometer${fahrtCounter}" name="kilometer${fahrtCounter}">
                        </div>
                        <button type="button" onclick="addFahrt()">+</button>
                        <button type="button" onclick="removeFahrt(this)">-</button>
                        </div>
            `;
            fahrtContainer.appendChild(newFahrtRow);
            fahrtCounter++;
        }

        function removeFahrt(buttonElement) {
            const fahrtContainer = document.getElementById('fahrtenContainer');
            const fahrtRows = fahrtContainer.getElementsByClassName('fahrt-row');

            if (fahrtRows.length > 1) {
                const fahrtRow = buttonElement.closest('.fahrt-row');
                fahrtRow.remove();
                fahrtCounter--; // Reduziere den Zähler nur, wenn eine Zeile entfernt wurde
                }
        }
        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}


    </script>
</body>
</html>

