<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zeiteinträge ansehen</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Menüleiste anzeigen -->
    {% include 'FAN020_navbar.html' %}

    <div class="table-form">
        <h2>{{ role }}: {{name[0]}} {{name[1]}}</h2>
            <div class="mein-eindeutiges-formular">
                <form action="{{url_for('view_time_entries.view_time_entries', person_id=person_id)}}" method="post">
                    <div class="time-selection-container">
                        <div class="form-group-table">
                                <div class="form-row">
                                <label for="monat_jahr"></label>
                                <select name="monat_jahr" id="monat_jahr">
                                    {% for kombination in kombinationen %}
                                    <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                                        {{ kombination }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <button type="submit">Anzeigen</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>


            {% if error %}
                <p>{{ error }}</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Tätigkeit</th>
                            <th>Kilometer</th>
                            <th>Anfang</th>
                            <th>Ende</th>
                            <th>Klient</th>
                            <th>Unterschrift Klient</th>
                            <th>Unterschrift Mitarbeiter</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in zeiteintraege %}
                            <tr>
                                <td>{{ entry[1] }}</td>
                                <td>{{ entry[2] if entry[2] else ''}}</td>
                                <td>{{ entry[3] if entry[3] else 0.0 }}</td>
                                <td>{{ entry[4] }}</td>
                                <td>{{ entry[5] }}</td>
                                <td>{{ entry[6] }}</td>
                                <td>
                                    {% if unterschriften[0] %}
                                        <img src="data:image/png;base64,{{ unterschriften[0] }}" alt="Unterschrift Klient" width="150"/>
                                    {% else %}
                                        Keine Unterschrift vorhanden
                                    {% endif %}
                                </td>
                                <td>
                                    {% if unterschriften[1] %}
                                        <img src="data:image/png;base64,{{ unterschriften[1] }}" alt="Unterschrift Mitarbeiter" width="150"/>
                                    {% else %}
                                        Keine Unterschrift vorhanden
                                    {% endif %}
                                </td>
                                <td>
                                    <form action="/work_hours_details/<int:zeiteintrag_id>/<int:person_id>" method="post">
                                        <button type="submit">Details</button>
                                    </form>
                                </td>
                                <td>
                                    {% if not entry.buchung_vorhanden %}
                                    <form action="/edit_time_entry/<int:zeiteintrag_id>" method="post">
                                        <button type="submit">Bearbeiten</button>
                                    </form>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not entry.buchung_vorhanden %}
                                    <form action="/delete_te/<int:zeiteintrags_id>/<origin>">
                                        <button type="submit">Löschen</button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <form action="/create_time_entry" method="get">
                <button type="submit">Zeiteintrag hinzufügen</button>
            </form>
            {% endif %}
        </div>
    </div>
</body>
</html>
