<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eigene Stunden löschen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center-container">
        <div class="loginContainer">
            <div class="reset-container">
                <div class="reset-content">
                    <p>Wollen Sie diesen Eintrag wirklich löschen?</p>
                    <form action="{{url_for('delete_te.delete_te', zeiteintrags_id = zeiteintrags_id)}}" method="post">
                        <input type="hidden" name="zeiteintrags_ID" value="{{ zeiteintrags_ID }}">
                        <input type="hidden" name="origin_function" value="{{ origin_function }}">
                        <div class="accordion-button">
                            <button type="button" onclick="close_popup()">Nein</button>
                            <button type="submit">Ja</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        function close_popup() {
            var return_url = "{{ return_url }}";
            window.location.href = return_url;
        }
    </script>
</body>
</html>