<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Details eigener Stunden einsehen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

    <!-- Flash Nachrichten anzeigen -->
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <br><br>

    <div class="registration-form">
        <h2>Zeiteintrag Details</h2>
        <div class="form-row">
            <div class="form-group">
                <label for="datum">Datum:</label>
                <input type="date" id="datum" name="datum" value="{{datum}}" readonly >

            </div>
            <div class="form-group">
                <label for="startZeit">Startzeitpunkt:</label>
                <input type="time" id="startZeit" value="{{von}}" readonly>
            </div>
            <div class="form-group">
                <label for="endZeit">Endzeitpunkt:</label>
                <input type="time" id="endZeit" value="{{bis}}" readonly>
            </div>
            <div class="form-group">
                <label for="fachkraft">Fachkraft:</label>
                <input type="checkbox" id="fachkraft" name="fachkraft" {% if zeiteintrag[7] %} checked {% endif %} disabled>
            </div>
            <div class="form-group">
                <label for="klient">Klient:</label>
                <input type="text" id="klient" value="{{klient_name}}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="beschreibung">Beschreibung:</label>
                <input id="beschreibung" name="beschreibung" value="{{zeiteintrag[8] if zeiteintrag[8] else ''}}" readonly>
            </div>
            <div class="form-group">
                <label for="interneNotiz">Interne Notiz:</label>
                <input id="interneNotiz" name="interneNotiz" value="{{zeiteintrag[9] if zeiteintrag[9] else ''}}" readonly>
            </div>
            <div class="form-group">
                <label for="absage">Absage:</label>
                <input type="checkbox" id="absage" name="absage" {% if zeiteintrag[11] %} checked {% endif %} disabled>
            </div>
        </div>
        <div class="leerzeile"></div>

        <!-- Tabelle für Fahrten -->
        <div class="new-row">
            <h3>Fahrten:</h3>
            <div id="fahrtenContainer">
                 <div class="form-row">
                    <div class="form-group">
                        <label>Abrechenbarkeit:</label>
                    </div>
                    <div class="form-group">
                        <label>Start Adresse:</label>
                    </div>
                    <div class="form-group">
                        <label>End Adresse:</label>
                    </div>
                    <div class="form-group">
                        <label>Kilometer:</label>
                    </div>
                </div>
                {% set index = 0 %}
                {% for fahrt in fahrten %}
                <div class="form-row fahrt-row">
                    <div class="form-group">
                        <input type="checkbox" id="abrechenbarkeit{{ index }}" name="abrechenbarkeit{{ index }}" {% if fahrt[4] %} checked {% endif %} readonly disabled>
                    </div>
                    <div class="form-group">
                        <input type="text" id="start_adresse{{ index }}" name="start_adresse{{ index }}" value="{{ fahrt[2] }}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" id="end_adresse{{ index }}" name="end_adresse{{ index }}" value="{{ fahrt[3] }}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" id="kilometer{{ index }}" name="kilometer{{ index }}" value="{{ fahrt[1] }}" readonly>
                    </div>
                </div>
                {% set index = index + 1 %}
                {% endfor %}
            </div>
        </div>


        <!-- Unterschriften -->
        <div class="form-row">
            <div class="signature-container" type="button" onclick="openSignaturePopup('Klient')">
                <img id="signatureImageKlient" src="data:image/png;base64,{{ unterschrift_klient }}" alt="Unterschrift Klient" style="{% if unterschrift_klient %}display: block;{% else %}display: none;{% endif %}">
                <p>Unterschrift Klient</p>
            </div>

            <div class="signature-container" type="button" onclick="openSignaturePopup('Mitarbeiter')">
                <img id="signatureImageMitarbeiter"  src="data:image/png;base64,{{ unterschrift_mitarbeiter }}" alt="Unterschrift Mitarbeiter" style="{% if unterschrift_mitarbeiter %}display: block;{% else %}display: none;{% endif %}">
                <p>Unterschrift Mitarbeiter</p>
            </div>
        </div>



        <div class="form-actions" style="margin-left: 20px;">
            <!-- Bearbeiten Button -->
            <form action="{{ url_for('edit_time_entry.edit_time_entry', zeiteintrag_id=zeiteintrag_id) }}" method="get">
                <button type="submit">Bearbeiten</button>
            </form>

            <!-- Löschen Button -->
            <form action="{{ url_for('delete_te.delete_te', zeiteintrags_id=zeiteintrag_id) }}" method="get">
                <button type="submit">Löschen</button>
            </form>

            <!-- Schließen Button -->
            <form action="{{ url_for('view_time_entries.view_time_entries', person_id=person_id) }}" method="get">
                <button type="submit">Schließen</button>
            </form>
        </div>
    </div>
    <script>
        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
        }
    </script>
</body>
</html>




