<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zeiteinträge ansehen</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'FAN020_navbar.html' %}

    <div class="table-form">
        <h2>Deine Zeiteinträge</h2>

        <form action="/view_time_entries/{{ person.id }}" method="post">
            <div class="time-selection-container">
                <div class="form-group-table">
                    <form action="{{url_for('show_employee_table.mitarbeiter', person_id=person_id)}}" method="post" style="display: flex;flex-direction: row; align-items: center; gap: 10px">
                        <label for="monat_jahr"></label>
                        <select name="monat_jahr" id="monat_jahr">
                            {% for kombination in kombinationen %}
                            <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                                {{ kombination }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Anzeigen</button>
                    </form>
                </div>
            </div>
        </form>

        {% if error %}
            <p>{{ error }}</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Startzeit</th>
                        <th>Endzeit</th>
                        <th>Beschreibung</th>
                        <th>Kilometer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in time_entries %}
                        <tr>
                            <td>{{ entry[4] }}</td>
                            <td>{{ entry[5] }}</td>
                            <td>{{ entry[2] }}</td>
                            <td>{{ entry['zeiteintrag']['kilometer'] }}</td>
                            <td>
                                <form action="/work_hours_details/<int:zeiteintrag_id>/<int:person_id>" method="post">
                                    <button type="submit">Details</button>
                                </form>
                            </td>
                            <td>
                                {% if not entry.buchung_vorhanden %}
                                <form action="/edit_time_entry/<int:zeiteintrag_id>" method="post">
                                    <button type="submit">Bearbeiten</button>
                                </form>
                                {% endif %}
                            </td>
                            <td>
                                {% if not entry.buchung_vorhanden %}
                                <form action="/delete_te/<int:zeiteintrags_id>/<origin>">
                                    <button type="submit">Löschen</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <form action="/create_time_entry" method="get">
            <button type="submit">Zeiteintrag hinzufügen</button>
        </form>
        {% endif %}
    </div>
</body>
</html>
