<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betreuungsstunden Klienten Übersicht</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

    <div class="table-form">
        <div class="leerzeile"></div>
        <div class="form-row" style="justify-content: start;">
            <h2 style="margin: 0; font-size: 1.5em; line-height: 1.2em;">Klient: {{client_name[0]}} {{client_name[1]}}</h2>
            <div style="margin-left: 40px; font-weight: normal; font-size: 1.5em; line-height: 1.2em;">Sachbearbeiter: {{client_sachbearbeiter[0]}} {{client_sachbearbeiter[1]}}</div>
        </div>
        <div class="leerzeile"></div>

        <div class="form-row">
            <div class="mein-eindeutiges-formular">

                <!-- Drop-Down für Monat auswahl, initial akutelles Monat-->
                <form action="{{ url_for('client_hours_blueprint.client_supervision_hours', client_id = client_id) }}" method="post" style="display: flex;flex-direction: row; align-items: center; gap: 10px">
                    <label for="monat_jahr"></label>
                    <select name="monat_jahr" id="monat_jahr">
                        {% for kombination in kombinationen %}
                        <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                            {{ kombination }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Anzeigen</button>
                </form>
            </div>


            <!-- Button für Buchung und Buchung revidieren -->
            <div class="accordion-button">
                {% if user_role in ['Verwaltung', 'Geschäftsführung'] %}
                    <button type="buchung">Buchen</button>
                {% endif %}
            </div>
            <div class="accordion-button">
                {% if user_role == 'Geschäftsführung' %}
                    <button type="buchung_revidieren">Buchung revidieren</button>
                {% endif %}
            </div>
        </div>
        <!-- Tabelle der Zeiteinträge -->
        {% if zeiteintraege_liste %}
            <table id="client_hours">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Beschreibung</th>
                        <th>Kilometer</th>
                        <th>Anfang</th>
                        <th>Ende</th>
                        <th>Mitarbeiter</th>
                        {% if user_role in ['Verwaltung','Geschäftsführung'] or fallverantwortung == True %}
                        <th>Überschneidung</th>
                        {% endif %}
                        <th>Unterschrift Klient</th>
                        <th>Unterschrift Mitarbeiter</th>
                    </tr>
                </thead>
                <tbody id="tableData">
                    {% for zeiteintrag in zeiteintraege_liste %}
                    <tr>
                        <!-- Füllen Sie jede Zelle mit Daten aus zeiteintrag -->
                        <td>{{ zeiteintrag.datum }}</td>
                        <td>{{ zeiteintrag[8] }}</td>
                        <td>{{ zeiteintrag.kilometer }}</td>
                        <td>{{ zeiteintrag.anfang }}</td>
                        <td>{{ zeiteintrag.ende }}</td>
                        <td>{{ zeiteintrag.mitarbeiter }}</td>
                        {% if user_role in ['Verwaltung','Geschäftsführung'] or fallverantwortung == True %}
                            <td>{{ zeiteintrag.überschneidung }}</td>
                        {% endif %}
                        <td>{{ zeiteintrag.unterschrift_klient }}</td>
                        <td>{{ zeiteintrag.unterschrift_mitarbeiter }}</td>

                        <!-- Buttons Bearbeiten und Löschen in jeder Zeile -->
                        {% if not booked %}
                            {% if user_role == 'Mitarbeiter' and zeiteintrag.mitarbeiter_id == session['user_id'] %}
                                <td>
                                    <form action="{{url_for('edit_time_entry.edit_time_entry', client_id = client_id)}}" method="get">
                                        <button type="submit">Bearbeiten</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{{url_for('delete_te.delete_te', zeiteintrags_id = zeiteintrags_id, client_id = client_id, origin = show)}}" method="get">
                                        <button type="submit">Löschen</button>
                                    </form>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <!-- keine Daten für ausgewählten Monat -->
        {% else %}
            <p>Noch keine Einträge vorhanden.</p>
        {% endif %}

        <!-- Buttons export und drucken -->
        <div class="leerzeile"> </div>
            <div class="form-row">
                <div class="accordion-button">
                    {% if user_role in ['Verwaltung', 'Geschäftsführung', 'Steuerbüro', 'Sachbearbeiter/Kostenträger'] %}
                        <button id="exportButton">Exportieren</button>
                        <button onclick="window.print();">Drucken</button>
                    {% endif %}
                <!-- Button Zeiteintrag hinzufügen -->
                </div>
                {% if user_role not in ['Verwaltung', 'Steuerbüro', 'Sachbearbeiter/Kostenträger'] %}
                    <form action="{{ url_for('create_time_entry.submit_arbeitsstunden', client_id=client_id) }}" method="get">
                        <button type="submit">Zeiteintrag hinzufügen</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </body>
    <script>
    function exportTableToCSV(tableId, filename) {
        var csv = [];
        var rows = document.querySelectorAll(tableId + ' tr');

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++) {
                // Prüfen, ob das Element ein Button ist
                if (!cols[j].querySelector("button")) {
                    row.push('"' + cols[j].innerText + '"');
                }
            }

            if (row.length > 0) {
                csv.push(row.join(","));
            }
        }

        // Download-Link erstellen und klicken
        var csvString = csv.join("\n");
        var link = document.createElement("a");
        link.setAttribute('target', '_blank');
        link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csvString));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    document.getElementById('exportButton').addEventListener('click', function () {
        exportTableToCSV('client_hours', 'exportierteDaten.csv');
    });
    </script>

</html>

