<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Zeiteinträge ansehen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Menüleiste anzeigen -->
    {% include 'FAN020_navbar.html' %}

    <div class="table-form">
        <h2>Meine Stunden</h2>
        <h3>{{ role }}: {{name[0]}} {{name[1]}}</h3>

        <div class="time-selection-container" >
            <div class="form-group-table">
                <form action="{{url_for('view_time_entries.view_time_entries', person_id=person_id)}}" method="post" style="display:inline;">
                    <label for="monat_jahr"></label>
                    <select name="monat_jahr" id="monat_jahr" style="padding: 8px; border: 1px solid #ccc;border-radius: 4px; margin-right: 20px; margin-bottom: 20px">
                        {% for kombination in kombinationen %}
                        <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                            {{ kombination }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Anzeigen</button>
                </form>
            </div>
            {% if session['user_role'] != 'Verwaltung' %}
                <div class="time time-selection-container" >
                    <form action="{{url_for('/create_time_entry.submit_arbeitsstunden', person_id=person_id)}}" method="get" style="display: inline;">
                        <button type="submit">Zeiteintrag hinzufügen</button>
                    </form>
                </div>
            {% endif %}
        </div>

        {% if kombinierte_liste %}
        <table>
            <thead>
            <tr>
                <th>Datum</th>
                <th>Tätigkeit</th>
                <th>Kilometer</th>
                <th>Anfang</th>
                <th>Ende</th>
                <th>Klient</th>
                <th>Unterschrift Klient</th>
                <th>Unterschrift Mitarbeiter</th>
            </tr>
            </thead>
            <tbody>
            {% for entry, unterschrift, booked in kombinierte_liste %}
            <tr>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] if entry[2] else ''}}</td>
                <td>{{ entry[3] if entry[3] else 0.0 }}</td>
                <td>{{ entry[4] }}</td>
                <td>{{ entry[5] }}</td>
                <td>{{ entry[6] }}</td>
                <td>
                    {% if unterschrift[0] %}
                    <img src="data:image/png;base64,{{ unterschrift[0] }}" alt="Unterschrift Klient" width="150"/>
                    {% else %}
                    Keine Unterschrift vorhanden
                    {% endif %}
                </td>
                <td>
                    {% if unterschrift[1] %}
                    <img src="data:image/png;base64,{{ unterschrift[1] }}" alt="Unterschrift Mitarbeiter" width="150"/>
                    {% else %}
                    Keine Unterschrift vorhanden
                    {% endif %}
                </td>
                <td>
                    <form action="{{url_for('work_hours_details.show_details', zeiteintrag_id = entry[0], person_id = person_id)}}" method="get">
                        <button type="submit">Details</button>
                    </form>
                </td>
                <td>
                    {% if booked == False %}
                    <form action="{{url_for('edit_time_entry.edit_time_entry', zeiteintrag_id = entry[0])}}" method="get">
                        <button type="submit">Bearbeiten</button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if booked == False %}
                    <form action="{{url_for('delete_te.delete_te', zeiteintrags_id = entry[0])}}">
                        <button type="submit">Löschen</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Noch keine Einträge vorhanden</p>
        {% endif %}
    </div>
</body>
</html>
