<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Passwort zurücksetzen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--Flash Nachricht -->
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="center-container">
        <div class="loginContainer">
            <div class="reset-container">
                <div class="reset-content">
                    <span class="close" onclick="closeResetPopup(); window.history.back();">&times;</span>

                    <h2>Passwort zurücksetzen</h2>
                    <form action="/password_reset" method="post">
                        <label for="resetEmail">E-Mail:</label>
                        <input type="email" id="resetEmail" name="email" placeholder="E-Mail" required>
                        <button type="submit">Passwort zurücksetzen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function closeResetPopup() {
            document.querySelector('.reset-container').style.display = 'none';
        }
    </script>
<script>

        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
        }

    </script>
</body>
</html>