<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unterschriften erfassen</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="center-container">
        <div class="loginContainer">
            <div class="reset-container">
                <div class="reset-content">
                    <h2>Unterschrift einfügen</h2>
                    <form id="signatureForm" action="/sign_capture" method="post" onsubmit="prepareSignature(); return true;">
                        <canvas id="signatureCanvas" width="400" height="200" style="border:1px solid #000;"></canvas>
                        <input type="hidden" id="signatureData" name="signatureData" value="{{origin_function}}">
                        <input type="hidden" name="origin_function" value="create_time_entry">
                        <div class="accordion-button">
                            <button type="submit">Speichern</button>
                            <button type="button" onclick="clearSignature()">Leeren</button>
                            <button type="button" onclick="close_popup()">Abbrechen</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>

        let canvas = document.getElementById('signatureCanvas');
        let context = canvas.getContext('2d');
        let drawing = false;

        canvas.addEventListener('mousedown', function(e) {
            drawing = true;
            context.moveTo(e.offsetX, e.offsetY);
        });

        canvas.addEventListener('mousemove', function(e) {
            if (drawing) {
                context.lineTo(e.offsetX, e.offsetY);
                context.stroke();
            }
        });

        canvas.addEventListener('mouseup', function(e) {
            drawing = false;
        });

        canvas.addEventListener('mouseleave', function(e) {
            drawing = false;
        });

        function clearSignature() {
            let canvas = document.getElementById("signatureCanvas");
            let context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height);
            context.beginPath();
            document.getElementById("signatureData").value="";
        }
        function close_popup() {
            window.history.back();
        }
        function prepareSignature() {
            let canvas = document.getElementById("signatureCanvas");
            document.getElementById("signatureData").value = canvas.toDataURL(); // Konvertiere das Bild zu Base64
        }
    </script>
</body>
</html>