<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Pop-up Beispiel</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Pop-up Modal -->
    <div class="table-form">
        <div class="modal-content">
            <h2>Achtung - Terminüberschneidung</h2>
            <table>
                <thead>
                    <tr>
                        <th>Zeiteintrag ID</th>
                        <th>Datum</th>
                        <th>Start</th>
                        <th>Ende</th>
                        <th>Beschreibung</th>
                        <th>Mitarbeiter</th>
                        <th>Klient</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in overlapping_entries %}
                    <tr>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>{{ entry[4] }}</td>
                        <td>{{ entry[5] }}</td>
                        <td>{{ entry[6] }}</td>
                    </tr>
                {% endfor %}}
                </tbody>
            </table>
            <div class="form-actions">
                <button type="button" onclick="window.location='/FMOF010_show_supervisionhours_client.html';">Speichern</button>
                <button type="button" onclick="window.location='/FMOF050_edit_time_entry/<int:zeiteintrag_id>';">Abbrechen</button>
            </div>
        </div>
    </div>
</body>
</html>


