<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Stundennachweis PopUp</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="popup-content">
        <h3>Es konnten keine Zeiteinträge für <span id="selectedMonth">Monat</span> gefunden werden. Wollen Sie trotzdem buchen?</h3>
        <div class="form-actions">
            <button id="buchenBtn">Buchen</button>
            <button id="abbrechenBtn">Abbrechen</button>
        </div>
    </div>
</body>
</html>