<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Zugriff auf Stunden und Kilometer</title>
</head>
<body>
    {% include 'FAN020_navbar.html' %}

    <div class="table-form">

        <h2>Zeiteinträge deiner Klienten</h2>
        <br>
        <br>

        <div class="form-row" style="justify-content: start;">
            <h2 style="margin: 0; font-size: 1.5em; line-height: 1.2em;">Klient: {{client_name[0]}} {{client_name[1]}}</h2>
            <div style="margin-left: 40px; font-weight: normal; font-size: 1.5em; line-height: 1.2em;">Sachbearbeiter: {{sb_name[0]}} {{sb_name[1]}}</div>
        </div>

        <div class="leerzeile"></div>

        <form action="{{ url_for('access_hours_km_clients.view_time_entries', client_id=client_id) }}" method="post">
            <div class="form-group-table">
                <label for="monat_jahr"></label>
                        <select name="monat_jahr" id="monat_jahr" style="padding: 8px; border: 1px solid #ccc;border-radius: 4px; margin-right: 20px">
                            {% for kombination in kombinationen %}
                            <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                                {{ kombination }}
                            </option>
                            {% endfor %}
                        </select>

                <button type="submit">Anzeigen</button>
                <button onclick="exportTableToCSV()">
                    Exportieren
                </button>
                <button onclick="window.print()">
                    Drucken
                </button>
            </div>
        </form>
        <br>
        {% if booked == False %}
            <p> Einträge für {{month}} nicht gebucht</p>
        {% elif kombinierte_liste %}
            <table id="client_hours">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Beschreibung</th>
                        <th>Kilometer</th>
                        <th>Anfang</th>
                        <th>Ende</th>
                        <th>Mitarbeiter</th>
                        <th>Fach-/Hilfskraft</th>
                        <th>Unterschrift Klient</th>
                        <th>Unterschrift Mitarbeiter</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zeiteintrag, ueberschneidungs_status, unterschrift in kombinierte_liste %}
                        <tr>
                            <td>{{ zeiteintrag[1] }}</td>
                            <td>{{ zeiteintrag[2] }}</td>
                            <td>{{ zeiteintrag[3] }}</td>
                            <td>{{ zeiteintrag[4] }}</td>
                            <td>{{ zeiteintrag[5] }}</td>
                            <td>{{ zeiteintrag[6] }}</td>
                            <td>{{ zeiteintrag[7] }}</td>
                            <td>
                                {% if unterschrift[0] %}
                                    <img src="data:image/png;base64,{{ unterschrift[0] }}" alt="Unterschrift Klient" width="150"/>
                                {% else %}
                                    Keine Unterschrift vorhanden
                                {% endif %}
                            </td>
                            <td>
                                {% if unterschrift[1] %}
                                    <img src="data:image/png;base64,{{ unterschrift[1] }}" alt="Unterschrift Mitarbeiter" width="150"/>
                                {% else %}
                                    Keine Unterschrift vorhanden
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Noch keine Einträge vorhanden.</p>
        {% endif %}
    </div>

    <script>
function exportTableToCSV() {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

        csv.push(row.join(","));
    }

    // Download CSV file
    var csvContent = csv.join("\n");
    var encodedUri = encodeURI("data:text/csv;charset=utf-8," + csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "export.csv");
    document.body.appendChild(link); // Required for FF

    link.click(); // This will download the data file named "my_data.csv".
}
</script>

</body>
</html>
