<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Accountverwaltung</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
     <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

    <div class="table-form">
        <h2>Accountverwaltung</h2>
        <button onclick="window.location.href='/create_account';">Account anlegen</button>
        <button onclick="window.location.href='/create_client';">Klient anlegen</button>

        </b><br/>

        {% include 'FAN040_show_client_table.html' %}
        {% include 'FAN030_show_employee_table.html' %}

        <!-- Steuerbüro Tabelle -->
        {% if session['user_role'] == 'Steuerbuero' %}
        <h3>Steuerbüro</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
            </tr>
            {% for steuerbuero in steuerbueros %}
            <tr>
                <td>{{ person.ID }}</td>
                <td>{{ person.Vorname }}</td>
                <td>{{ person.Nachname }}</td>
                <td>{{ person.Email }}</td>
                <td>
                    <form action="/account_details/{{ person.id }}" method="post">
                        <button type="submit">Details</button>
                    </form>
                </td>
                <td>
                    <form action="/account_edit/{{ person.id }}" method="post">
                        <button type="submit">Bearbeiten</button>
                    </form>
                </td>
                <td>
                    <form action="/account_lock/{{ person.id }}" method="post">
                        <button id="toggleButton">Sperren</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Keine Steuerbüros gefunden.</p>
        {% endif %}

        <!-- Sachbearbeiter/Kostenträger Tabelle -->
        {% if session['user_role'] == 'Sachbearbeiter' %}
        <h3>Sachbearbeiter/Kostenträger</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
            </tr>
            {% for sb in sachbearbeiter %}
                <tr>
                    <td>{{ person.ID }}</td>
                    <td>{{ person.Vorname }}</td>
                    <td>{{ person.Nachname }}</td>
                    <td>{{ person.Email }}</td>
                    <td>
                    <form action="/account_details/{{ person.id }}" method="post">
                        <button type="submit">Details</button>
                    </form>
                    </td>
                    <td>
                        <form action="/account_edit/{{ person.id }}" method="post">
                            <button type="submit">Bearbeiten</button>
                        </form>
                    </td>
                    <td>
                        <form action="/account_lock/{{ person.id }}" method="post">
                            <button id="toggleButton">Sperren</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <script>
        // JavaScript-Code zur wechselnden beschriftung des "sperren" / "entsperren" buttons
        document.getElementById("toggleButton").addEventListener("click", function() {
            var button = document.getElementById("toggleButton");
            if (button.innerHTML === "Sperren") {
                button.innerHTML = "Entsperren";
            } else {
                button.innerHTML = "Sperren";
            }
        });
    </script>
</body>
</html>
