<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Accountverwaltung</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
     <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}
     <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="table-form">
        <h2>Accountverwaltung</h2>
        <button onclick="window.location.href='/create_account';">Account anlegen</button>
        <button onclick="window.location.href='/create_client';">Klient anlegen</button>

        </b><br/>

        <iframe id="clientsIframe" src="/show_clients" style="width:100%; border:none;"></iframe>
        <iframe id="mitarbeiterIframe" src={{url_for('show_employee_table.mitarbeiter')}} style="width:100%;border:none;"></iframe>

        <!-- Steuerbüro Tabelle -->
        {% if session['user_role'] == 'Steuerbuero' %}
        <h3>Steuerbüro</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
            </tr>
            {% for steuerbuero in steuerbueros %}
            <tr>
                <td>{{ steuerbuero[0] }}</td> <!-- id -->
                <td>{{ steuerbuero[1] }}</td> <!-- vorname -->
                <td>{{ steuerbuero[2] }}</td> <!-- nachname -->
                <td>{{ steuerbuero[7] }}</td> <!-- email -->
                <td>
                    <input type="hidden" name="lock_account" value="{{ steuerbuero[10] }}" /> <!-- hidden attribut lock -->
                </td>
                <td>
                    <form action="/account_details/{{ steuerbuero[0] }}" method="post">
                        <button type="submit">Details</button>
                    </form>
                </td>
                <td>
                    <form action="/account_edit/{{ steuerbuero[0] }}" method="post">
                        <button type="submit">Bearbeiten</button>
                    </form>
                </td>
                <td>
                    <form action="/account_lock/{{ steuerbuero[0] }}" method="post">
                        <button id="lock_steuer">{{ 'Sperren' if steuerbuero[10] == 0 else 'Entsperren' }}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Keine Steuerbüros gefunden.</p>
        {% endif %}

        <!-- Sachbearbeiter/Kostenträger Tabelle -->
        {% if session['user_role'] == 'Sachbearbeiter' %}
        <h3>Sachbearbeiter/Kostenträger</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
            </tr>
            {% for sb in sachbearbeiter %}
                <tr>
                    <td>{{ sb[0] }}</td> <!-- id -->
                    <td>{{ sb[1] }}</td> <!-- vorname -->
                    <td>{{ sb[2] }}</td> <!-- nachname -->
                    <td>{{ sb[7] }}</td> <!-- email -->
                    <td>
                        <input type="hidden" name="lock_account" value="{{sb[10] }}" /> <!-- hidden attribut lock -->
                    </td>
                    <td>
                    <form action="/account_details/{{ sb[0] }}" method="post">
                        <button type="submit">Details</button>
                    </form>
                    </td>
                    <td>
                        <form action="/account_edit/{{ sb[0] }}" method="post">
                            <button type="submit">Bearbeiten</button>
                        </form>
                    </td>
                    <td>
                        <form action="/account_lock/{{ person.id }}" method="post">
                            <button id="lock_sb">{{ 'Sperren' if sb[10] == 0 else 'Entsperren' }}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <script>
        // JavaScript-Code zur wechselnden beschriftung des "sperren" / "entsperren" buttons
        // document.getElementById("toggleButton").addEventListener("click", function() {
            // var button = document.getElementById("toggleButton");
            // if (button.innerHTML === "Sperren") {
                // button.innerHTML = "Entsperren";
            // } else {
                // button.innerHTML = "Sperren";
            // }
        // });
    </script>

    <script>

        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
        }

    </script>
</body>
</html>
