<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accountdetails einsehen </title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<style>
.hidden {
    display: none;
}
</style>
<body>
    <!-- menüleiste -->
    {% include 'FAN020_navbar.html' %}

    <div class="registration-form">
        <h2>{{role}} {{firstname}} {{lastname}}</h2>

            <div class="form-row">
                <div class="form-group2">
                    <label for="lastname">Nachname:</label>
                    <input type="text" id='lastname' value="{{lastname}}" readonly>
                </div>
                <div class="form-group2">
                    <label for="firstname">Vorname:</label>
                    <input type="text" id="firstname" value="{{firstname}}" readonly>
                </div>
                {% if role == 'Mitarbeiter' %}
                    <div class="form-group2">
                        <label for="address">Adresse:</label>
                        <input type="text" id="address" value="{{address}}" readonly>
                    </div>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="form-group2">
                    <label for="role">Rolle:</label>
                    <input type="text" id="role" value="{{role}}" readonly>
                </div>
                {% if role == 'Mitarbeiter' %}
                    <div class="form-group2">
                        <label for="qualification">Qualifikation:</label>
                        <input type="text" id="qualification" value="{{qualification}}" readonly>
                    </div>
                    <div class="form-group2">
                        <label for="phone">Telefonnummer:</label>
                        <input type="text" id="phone" value="{{phone}}" readonly>                    </div>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="form-group2">
                    <label for="email">E-Mail:</label>
                    <input type="text" id="email" value="{{email}}" readonly>
                </div>
                {% if role == 'Mitarbeiter' %}
                    <div class="form-group2">
                        <label for="birthday">Geburtstag:</label>
                        <input type="text" id="birthday" value="{{birthday}}" readonly>
                    </div>
                {% endif %}
            </div>
            <!-- Buttons -->
            <div class="form-row">

                <form action="{{ url_for('edit_account.edit_account', person_id=person_id) }}" method="get">
                    <button type="submit">Bearbeiten</button>
                </form>

                {% if locked == 1 %}
                    <!-- Zeigt den "Entsperren"-Button an, wenn der Account gesperrt ist -->
                    <form action="{{ url_for('account_unlock.account_unlock', person_id=person_id) }}" method="get">
                        <button type="submit">Entsperren</button>
                    </form>
                {% else %}
                    <!-- Zeigt den "Sperren"-Button an, wenn der Account nicht gesperrt ist -->
                    <form action="{{ url_for('account_lock.account_lock', person_id=person_id) }}" method="get">
                        <button type="submit">Sperren</button>
                    </form>
                {% endif %}
                <button type="button" onclick="window.location.href='{{ return_url }}'">Schließen</button>
            </div>
    </div>
</body>
</html>