<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Unlock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

   <div class="center-container">
        <div class="loginContainer">
            <div class="reset-container">
                <div class="reset-content">
                    <p>Wollen Sie diesen Account wirklich entsperren?</p>
                    <form action="{{ url_for('account_unlock.account_unlock', person_id=person_id) }}" method="post">
                        <div class="accordion-button">
                            <button type="button" onclick="close_popup()">Nein</button>
                            <button type="submit">Ja</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        function close_popup() {
            var return_url = "{{ return_url }}";
            window.location.href = return_url;
        }
    </script>
</body>
</html>
