<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Klienten einsehen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<style>
.hidden {
    display: none;
}
</style>
<body>
    <!-- menüleiste -->
    {% include 'FAN020_navbar.html' %}

    <div class="registration-form_2">
        <h2>Klient: {{firstname}}, {{lastname}}</h2>

            <div class="form-row">
                <div class="form-group2">
                    <label for="lastname">Nachname:</label>
                    <input type="text" id="lastname" name="lastname" value={{lastname}} readonly>
                </div>
                <div class="form-group2">
                    <label for="firstname">Vorname:</label>
                    <input type="text" id="firstname" name="firstname" value="{{firstname}}" readonly>
                </div>

                <div class="form-group2">
                    <label for="address">Adresse:</label>
                    <input type="text" id="address" name="address" value="{{address}}" readonly>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group2">
                    <label for="birthday">Geburtstag:</label>
                    <input type="date" id="birthday" name="birthday" value="{{birthday}}" readonly>
                </div>
                <div class="form-group2">
                    <label for="phone">Telefonnummer:</label>
                    <input type="text" id="phone" name="phone" value="{{phone}}" readonly>
                </div>
                <div class="form-group2">
                    <label for="sb">Sachbearbeiter:</label>
                    <input type="text" id="sb" name="sb" value="{{sb[0]}}, {{sb[1]}}" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group2">
                    <label for="fk">Fachkraftkontingent:</label>
                    <input type="text" id="fk" name="fk" value="{{fk}}" readonly>
                </div>
                <div class="form-group2">
                    <label for="hk">Hilfskraftkontingent:</label>
                    <input type="text" id="hk" name="fk" value="{{hk}}" readonly>
                </div>
                <div class="form-group2">
                    <label for="fv">Fallverantwortung:</label>
                    <input type="text" id="fv" name="fk" value="{{fv[0]}}, {{fv[1]}}" readonly>
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-row">

                <form action="{{url_for('edit_client.edit_client', client_id = client_id)}}" method="get">
                    <button type="submit">Bearbeiten</button>
                </form>
                <button type="button" onclick="window.location.href='{{ return_url }}'">Schließen</button>
            </div>

    </div>
</body>
</html>