<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Klient bearbeiten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

     <!-- Flash Nachrichten anzeigen -->
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class = "registration-form_2">
        <h2>Klient bearbeiten</h2>
        <div class="mein-eindeutiges-formular">
            <form action="{{url_for('edit_client.edit_client', client_id=client_id)}}" method="post">
                <div class="form-row">
                    <div class="form-group2">
                        <label for="nachname">Nachname:</label>
                        <input type="text" id="nachname" name="nachname" value={{lastname}}>
                    </div>

                    <div class="form-group2">
                        <label for="vorname">Vorname:</label>
                        <input type="text" id="vorname" name="vorname" value="{{firstname}}">
                    </div>

                    <div class="form-group2">
                        <label for="adresse">Adresse:</label>
                        <input type="text" id="adresse" name="adresse" value="{{address}}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group2">
                        <label for="geburtsdatum">Geburtstag:</label>
                        <input type="date" id="geburtsdatum" name="geburtsdatum" value="{{birthday}}">
                    </div>

                    <div class="form-group2">
                        <label for="telefonnummer">Telefonnummer:</label>
                        <input type="text" id="telefonnummer" name="telefonnummer" value="{{phone}}">
                    </div>

                    <div class="form-group2">
                        <label for="ktDropdown">Kostenträger:</label>
                        <!-- <select class="form-control" id="ktDropdown" name="ktDropdown">
                            <option value="{{kt_id}}" {% if kt_id == sachbearbeiter_id %}selected{% endif %}>{{kt_id}} - {{kt}}</option>
                            {% for kt in kostentraeger %}
                            !-- Optionen werden durch Python generiert --
                            <option value="{{ kt.id }}" {% if kt.id == sachbearbeiter_id %}selected{% endif %}>{{ kt.id }} - {{ kt.nachname }}, {{ kt.vorname }}</option>
                            {% endfor %}
                            <option value="">Keine Auswahl</option> !-- Zusätzliche Option für keine Auswahl --
                        </select> -->
                        <select class="form-control" id="ktDropdown" name="ktDropdown">
                            <option value="" {% if not kt_id %}selected{% endif %}>Keine Auswahl</option>
                            {% for kt in kostentraeger %}
                                <option value="{{ kt.id }}" {% if kt.id == kt_id %}selected{% endif %}>
                                    {{ kt.id }} - {{ kt.nachname }}, {{ kt.vorname }}
                                </option>
                            {% endfor %}
                        </select>

                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group2">
                        <label for="fk">Fachkraftkontingent:</label>
                        <input type="number" id="fk" name="kontingent_fk" value="{{fk}}">
                    </div>

                    <div class="form-group2">
                        <label for="hk">Hilfskraftkontingent:</label>
                        <input type="number" id="hk" name="kontingent_hk" value="{{hk}}">
                    </div>

                    <div class="form-group2">
                        <label for="fvDropdown">Fallverantwortung:</label>
                        <!--<select class="form-control" id="fvDropdown" name="fvDropdown">
                            <option value="{{ fv_id }}" {% if fv_id == fallverantwortung_id %}selected{% endif %}>{{ fv_id }} - {{ fv }}</option>
                            {% for fv in fallverantwortung %}
                            !-- Optionen werden durch Python generiert --
                            <option value="{{ fv.id }}" {% if fv.id == fallverantwortung_id %}selected{% endif %}>{{ fv.id }} - {{ fv.nachname }}, {{ fv.vorname }}</option>
                            {% endfor %}
                            <option value="">Keine Auswahl</option> !-- Zusätzliche Option für keine Auswahl --
                        </select> -->

                        <select class="form-control" id="fvDropdown" name="fvDropdown">
                            <option value="" {% if not fv_id %}selected{% endif %}>Keine Auswahl</option>
                            {% for fv in fallverantwortung %}
                                <option value="{{ fv.id }}" {% if fv.id == fv_id %}selected{% endif %}>
                                    {{ fv.id }} - {{ fv.nachname }}, {{ fv.vorname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit">Speichern</button>
                    <button type="button" onclick="window.location.href='{{ return_url }}'">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
        }
        document.addEventListener('DOMContentLoaded', (event) => {
        let heute = new Date().toISOString().split('T')[0];
        document.getElementById("geburtsdatum").setAttribute('max', heute);
        });
    </script>

</body>
</html>