<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Stundennachweis PopUp</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="popup-content-small">
        <h3>Es konnten keine Zeiteinträge für {{month_str}} gefunden werden. Wollen Sie trotzdem buchen?</h3>
        <div class="form-actions">
            <button id="buchen">Buchen</button>
            <button id="abbrechen" onclick="window.location='/FMOF010_show_supervisionhours_client.html';">Abbrechen</button>
        </div>
    </div>
</body>
</html>