<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Stundennachweis PopUp</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="popup-content-small">
        <h3>Es konnten keine Zeiteinträge für {{ month_str }} gefunden werden. Wollen Sie trotzdem buchen?</h3>
        <form action="{{ url_for('book_time_entry.confirm_booking', client_id=client_id) }}" method="post">
            <div class="form-actions">
                <button type="submit" id="buchen">Buchen</button>
                <button type="button" id="abbrechen" onclick="close_popup()">Abbrechen</button>
            </div>
        </form>
    </div>
    <script>
        function close_popup() {
            var return_url = "{{ return_url }}";
            window.location.href = return_url;
        }
    </script>
</body>
</html>