<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passwort zurücksetzen</title>
    <link rel="stylesheet" href="../frontend/styles.css">
</head>
<body>
    <div class="center-container">
        <div class="loginContainer">
            <div class="reset-container">
                <div class="reset-content">
                    <span class="close" onclick="closeResetPopup(); window.history.back();">&times;</span>

                    <h2>Passwort zurücksetzen</h2>
                    <form action="/password_reset" method="post">
                        <label for="resetEmail">E-Mail:</label>
                        <input type="email" id="resetEmail" name="resetEmail" placeholder="E-Mail" required>
                        <button type="submit">Passwort zurücksetzen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function closeResetPopup() {
            document.querySelector('.reset-container').style.display = 'none';
        }
    </script>
</body>
</html>