<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Klient anlegen</title>
</head>
<body>
    <!-- Menüleiste einbinden-->
    <iframe src="navbar.html" width="100%" height="100%" style="border:none;"></iframe>

    <div class = "loginContainer">
        <h2>Klient anlegen</h2>
        <form action="/create_client" method="post">
            <div class="form-container">
            <div class="form-column">
                 <div class="form-group">
                    <label for="lastname">Nachname:</label>
                    <input type="text" id="lastname" name="lastname" required>
                </div>

                <div class="form-group">
                    <label for="firstname">Vorname:</label>
                    <input type="text" id="firstname" name="firstname" required>
                </div>
            </div>

            <div class="form-column">
                <div class="form-group">
                    <label for="birthday">Geburtstag:</label>
                    <input type="date" id="birthday" name="birthday" required>
                </div>

                <div class="form-group">
                    <label for="number">Telefonnummer:</label>
                    <input type="text" id="number" name="number">
                </div>

                <div class="form-group">
                    <label for="sbDropdown">Sachbearbeiter auswählen:</label>
                    <select class="form-control" id="sbDropdown" name="sbDropdown">
                        <!-- Optionen werden durch Python generiert -->
                        {% for item in items %}
                        <option value="{{item['id']}}">{{items['nachname']}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="address">Adresse:</label>
                    <input type="text" id="address" name="address" required>
                </div>

                <div class="form-group">
                    <label for="fk">Fachkraftkontingent:</label>
                    <input type="number" id="fk" name="fkontingent">
                </div>

                <div class="form-group">
                    <label for="hk">Hilfskraftkontingent:</label>
                    <input type="number" id="hk" name="hkontingent">
                </div>

                <div class="form-group">
                    <label for="fvDropdown">Fallverantwortung auswählen:</label>
                    <select class="form-control" id="fvDropdown" name="fvDropdown">
                        <!-- Optionen werden durch Python generiert -->
                        {% for item in items %}
                        <option value="{{item['id']}}">{{items['nachname']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            </div>
            <div class="form-actions">
                <button type="submit">Klient anlegen</button>
                <a href="/home">Abbrechen</a>
            </div>
        </form>
    </div>

</body>
</html>