<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menüleiste</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <div class="navbar">
        <a href="/home">Startseite</a>
        {% if session['user_role'] == 'Verwaltung' or session['user_role'] == 'Geschäftsführung' %}
            <a href="/account_management">Accountverwaltung</a>
        {% endif %}
        {% if session['user_role'] == 'Geschäftsführung' %}
            <a href="/reporting">Reporting</a>
            <a href="/create_client">Klient anlegen</a>
            <a href="/aenderungsprotokoll">Änderungsprotokoll</a>
        {% endif %}
        <a href="/password_change">Passwort ändern</a>
        <a href="/logout">Ausloggen</a>
    </div>
</body>
</html>
