<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betreuungsstunden Klienten Übersicht</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <!-- Menüleiste einbinden -->
    {% include 'FAN020_navbar.html' %}

    <div class="container-tabelle">
        <div class="form-row" style="justify-content: start;">
            <h2 style="margin: 0; font-size: 1.5em; line-height: 1.2em;">Klient: {{client_name[0]}} {{client_name[1]}}</h2>
            <div style="margin-left: 40px; font-weight: normal; font-size: 1.5em; line-height: 1.2em;">Sachbearbeiter: {{client_sachbearbeiter[0]}} {{client_sachbearbeiter[1]}}</div>
        </div>

        <div class="form-row">
            <div class="accordion-button">
                <!-- Drop-Down für Monat auswahl, initial akutelles Monat-->
                <form action="{{ url_for('client_hours_blueprint.client_supervision_hours', client_id = client_id) }}" method="post">
                    <label for="monat_jahr">Zeitraum</label>
                    <select name="monat_jahr" id="monat_jahr">
                        {% for kombination in kombinationen %}
                        <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                            {{ kombination }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Anzeigen</button>
                </form>
            </div>
            <!-- Button für Buchung und Buchung revidieren -->
            <div class="accordion-button">
                {% if user_role in ['Verwaltung', 'Geschäftsführung'] %}
                    <a href="{{ url_for('some_blueprint.buchen', client_id=client_id) }}" class="form-actions">Buchung</a>
                {% endif %}

                {% if user_role == 'Geschäftsführung' %}
                    <a href="{{ url_for('some_blueprint.buchung_revidieren', client_id=client_id) }}" class="form-actions">Buchung revidieren</a>
                {% endif %}
            </div>
        </div>
        <!-- Tabelle der Zeiteinträge -->
        {% if zeiteintraege_liste %}
            <table>
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Beschreibung</th>
                        <th>Kilometer</th>
                        <th>Anfang</th>
                        <th>Ende</th>
                        <th>Mitarbeiter</th>
                        {% if user_role in ['Verwaltung','Geschäftsführung'] or fallverantwortung == True %}
                        <th>Überschneidung</th>
                        {% endif %}
                        <th>Unterschrift Klient</th>
                        <th>Unterschrift Mitarbeiter</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody id="tableData">
                    {% for zeiteintrag in zeiteintraege_liste %}
                    <tr>
                        <!-- Füllen Sie jede Zelle mit Daten aus zeiteintrag -->
                        <td>{{ zeiteintrag.datum }}</td>
                        <td>{{ zeiteintrag.beschreibung }}</td>
                        <td>{{ zeiteintrag.kilometer }}</td>
                        <td>{{ zeiteintrag.anfang }}</td>
                        <td>{{ zeiteintrag.ende }}</td>
                        <td>{{ zeiteintrag.mitarbeiter }}</td>
                        {% if user_role in ['Verwaltung','Geschäftsführung'] or fallverantwortung == True %}
                            <td>{{ zeiteintrag.überschneidung }}</td>
                        {% endif %}
                        <td>{{ zeiteintrag.unterschrift_klient }}</td>
                        <td>{{ zeiteintrag.unterschrift_mitarbeiter }}</td>

                        <!-- Buttons Bearbeiten und Löschen in jeder Zeile -->
                        {% if not booked %}
                            {% if user_role == 'Mitarbeiter' and zeiteintrag.mitarbeiter_id == session['user_id'] %}
                                <td>
                                    <a href="{{ url_for('edit_time_entry', zeiteintrag_id=zeiteintrag.id) }}">Bearbeiten</a>
                                    <a href="{{ url_for('delete_time_entry', zeiteintrag_id=zeiteintrag.id) }}">Löschen</a>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <!-- keine Daten für ausgewählten Monat -->
        {% else %}
            <p>Noch keine Einträge vorhanden.</p>
        {% endif %}

        <!-- Buttons export und drucken -->
        <div class="leerzeile"> </div>
            <div class="form-row">
                <div class="accordion-button">
                    {% if user_role in ['Verwaltung', 'Geschäftsführung', 'Steuerbüro', 'Sachbearbeiter/Kostenträger'] %}
                        <a href="{{ url_for('client_hours_blueprint.exportieren_client', client_id=client_id) }}">Exportieren</a>
                        <button onclick="window.print();">Drucken</button>
                    {% endif %}
                <!-- Button Zeiteintrag hinzufügen -->
                </div>
                {% if user_role not in ['Verwaltung', 'Steuerbüro', 'Sachbearbeiter/Kostenträger'] %}
                    <form action="{{ url_for('create_time_entry.submit_arbeitsstunden', client_id=client_id) }}" method="get">
                        <button type="submit">Zeiteintrag hinzufügen</button>
                    </form>
                {% endif %}
            </div>
    </div>
    </body>
</html>

