<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="center-container">
        <div class ="loginContainer">
            <h2>Einloggen</h2>
            <form action="/" method="POST">

                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email" placeholder="E-Mail" required>

                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" placeholder="Passwort" required>
                <button type="submit">Einloggen</button>

            </form>
            <a href="/password_reset">Passwort zurücksetzen</a>

        </div>
    </div>

    <script>
        function openResetPopup(){
            document.querySelector('.reset-container').style.display = 'block';
        }
        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
        }

    </script>
</body>
</html>