<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Klienten einsehen</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- menüleiste -->
    {% include 'FAN020_navbar.html' %}

    <div class="registration-form">
        <h2>Klient: {{firstname}} {{lastname}}</h2>
        <form action="/client_details/<int:client_id>" method="post">
            <div class="form-row">
                <div class="form-group2">
                    <label for="lastname">Nachname:</label>
                    <div id='lastname'>{{lastname}}</div>
                </div>
                <div class="form-group2">
                    <label for="firstname">Vorname:</label>
                    <div id="firstname">{{firstname}}</div>
                </div>

                <div class="form-group2">
                    <label for="address">Adresse:</label>
                    <div id="address">{{address}}</div>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group2">
                    <label for="birthday">Geburtstag:</label>
                    <div id="birthday">{{birthday}}</div>
                </div>
                <div class="form-group2">
                    <label for="phone">Telefonnummer:</label>
                    <div id="phone">{{phone}}</div>
                </div>
                <div class="form-group2">
                    <label for="sb">Sachbearbeiter:</label>
                    <div id="sb">{{sb}}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group2">
                    <label for="fk">Fachkraftkontingent:</label>
                    <div id="fk">{{fk}}</div>
                </div>
                <div class="form-group2">
                    <label for="hk">Hilfskraftkontingent:</label>
                    <div id="hk">{{hk}}</div>
                </div>
                <div class="form-group2">
                    <label for="fv">Fallverantwortung:</label>
                    <div id="fv">{{fv}}</div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-row">
                <form action="{{url_for('edit_client.edit_client', client_id = client_id)}}", method="post">
                    <button type="submit">Bearbeiten</button>
                </form>
                <button type="button" onclick="window.location.href='{{ return_url }}'">Schließen</button>
            </div>
        </form>
    </div>
</body>
</html>