<!DOCTYPE html>
<html lang="DE">
<head>
    <title>Startseite</title>
</head>
<body>
    <!-- Menüleiste einbinden-->
    <iframe src="navbar.html" width="100%" height="100%" style="border:none;"></iframe>
    <h1>Willkommen!</h1>
    <p>Du bist jetzt eingeloggt.</p>
</body>
</html>

<!--<form action="{{ url_for('client_blueprint.client_profile', client_id=123) }}" method="get">
    <button type="submit">Zu Klientenprofil</button>
</form>
oder <a href="{{ url_for('client_blueprint.client_profile', client_id=123) }}">Zum Klientenprofil</a> für Übergabe ID -->