<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <div class="center-container">
        <div class ="loginContainer">
            <h2>Einloggen</h2>
            <form action="/login" method="post">

                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email" placeholder="E-Mail" required>

                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" placeholder="Passwort" required>
                <button type="submit">Einloggen</button>

            </form>
            <a href="/password_reset">Passwort zurücksetzen</a>
            <!--
            <form action="/password_reset" method="post">
                <button id="passwordResetButton" class="password_reset" onclick="openResetPopup()">Passwort zurücksetzen</button>
            </form>
            -->
        </div>
    </div>

    <script>
        function openResetPopup(){
            document.querySelector('.reset-container').style.display = 'block';
        }

    </script>
</body>
</html>