<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betreuungsstunden Übersicht</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<!-- Klientname einfügen, Sachbearbeiter neben Klient, view_time_entries?, Drop-Down , Buchung und co verlinken -->
<body>
    {% include 'navbar.html' %}

    <div class="container-tabelle">
        <div class="form-row" style="justify-content: start;">
            <h2 style="margin: 0; font-size: 1.5em; line-height: 1.2em;">Klient: {{client_name}}</h2>
            <div style="margin-left: 40px; font-weight: normal; font-size: 1.5em; line-height: 1.2em;">Sachbearbeiter: {{client_sachbearbeiter}}</div>
        </div>

        <div class="form-row">
            <div class="accordion-button">
                <!-- Drop-Down für Monat -->
                <form action="{{ url_for('client_hours_blueprint.monat_auswahl') }}" method="post">
                    <label for="monat_jahr">Zeitraum</label>
                    <select name="monat_jahr" id="monat_jahr">
                        {% for kombination in kombinationen %}
                        <option value="{{ kombination }}" {% if kombination == gewaehlte_kombination %} selected {% endif %}>
                            {{ kombination }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Anzeigen</button>
                </form>
            </div>
            <div class="accordion-button">
                <button type="submit">Buchung</button>
                <button type="submit">Buchung revidieren</button>
            </div>
        </div>


        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Kilometer</th>
                    <th>Anfang</th>
                    <th>Ende</th>
                    <th>Mitarbeiter</th>
                    <th>Überschneidung</th>
                    <th>Unterschrift Klient</th>
                    <th>Unterschrift Mitarbeiter</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody id="tableData">
                {% for zeiteintrag in zeiteintraege_liste %}
                <tr>
                    <!-- Füllen Sie jede Zelle mit Daten aus zeiteintrag -->
                    <td>{{ zeiteintrag.attribut1 }}</td>
                    <td>{{ zeiteintrag.attribut2 }}</td>
                    <td>{{ zeiteintrag.attribut3 }}</td>
                    <td>{{ zeiteintrag.attribut4 }}</td>
                    <td>{{ zeiteintrag.attribut5 }}</td>
                    <td>{{ zeiteintrag.attribut6 }}</td>
                    <td>{{ zeiteintrag.attribut7 }}</td>
                    <td>{{ zeiteintrag.attribut8 }}</td>
                    <td>{{ zeiteintrag.attribut9 }}</td>
                    <!-- Weitere Zellen für weitere Attribute von zeiteintrag -->
                    <td>
                        <a href="{{ url_for('edit_time_entry', zeiteintrag_id=zeiteintrag.id) }}">Bearbeiten</a>
                        <a href="{{ url_for('delete_time_entry', zeiteintrag_id=zeiteintrag.id) }}">Löschen</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- Tabellenzeilen mit Daten -->
        </table>
        <!--
        <div class="form-actions">
            {% if session['user_role'] in ['Mitarbeiter mit Fallverantwortung', 'Verwaltung', 'Geschäftsführung'] %}
                <button onclick="window.location='/add_time_entry';">Zeiteintrag hinzufügen</button>
                <button onclick="window.location.href='/edit_time_entry/{{ zeiteintrag_id }}'">Zeiteintrag bearbeiten</button>
                <button onclick="window.location='/delete_time_entry';">Löschen</button>
            {% endif %}

            {% if session['user_role'] in ['Verwaltung', 'Geschäftsführung'] %} -->
                <!-- Spezielle Buttons für Verwaltung und Geschäftsführung -->
        <!--
                <button onclick="window.location='/book_time_entry';">Buchen</button>
                <button onclick="window.location='/export_time_entries';">Exportieren</button>
                <button onclick="window.location='/print_time_entries';">Drucken</button>
            {% endif %}

            {% if session['user_role'] == 'Geschäftsführung' %} -->
                <!-- Spezieller Button nur für Geschäftsführung -->
                <!--
                <button onclick="window.location='/revert_booking';">Buchung revidieren</button>
            {% endif %}
            -->
        <div class="leerzeile"> </div>
            <div class="form-row">
                <div class="accordion-button">
                    <button type="submit">Exportieren</button>
                    <button type="submit">Drucken</button>

                </div>
                <button type="submit">Zeiteintrag hinzufügen</button>
            </div>
    </div>
    <script>
        function loadMonthData() {
            let clientName = document.getElementById('clientName').innerText;
            let month = document.getElementById('monthSelect').value
        }
    </script>
</body>
</html>

