<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kliententabelle</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
     <!-- Menüleiste einbinden -->
    {% include 'navbar.html' %}

    <div class="center-container">
        <div class="table-container">
            <h2>Kliententabelle</h2>

            <div class="time-selection-container">
                <form action="/klienten" method="post">
                    <label for="zeitraum">Zeitraum:</label>
                    <select name="zeitraum" id="zeitraum">
                        <!-- Optionen für Zeitraum -->
                    </select>
                    <button type="submit">Anzeigen</button>
                </form>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Kontingent FK</th>
                        <th>Kontingent HK</th>
                        <th>Saldo FK</th>
                        <th>Saldo HK</th>
                        <!-- Weitere Spalten für Buttons -->
                        
                    </tr>
                </thead>
                <tbody>
                    {% for clients %}
                        <tr>
                            <td>{{ client.id }}</td>
                            <td>{{ client.vorname }}</td>
                            <td>{{ client.nachname }}</td>
                            <td>{{ client.kontingent_fk }}</td>
                            <td>{{ client.kontingent_hk }}</td>
                            <td>{{ client.saldo_fk }}</td>
                            <td>{{ client.saldo_hk }}</td>
                            <!-- Button Logik -->
                            {% if user_role == 'Verwaltung' %}
                                <td><a href="/bearbeiten/{{ client.id }}">Bearbeiten</a></td>
                                <td><a href="/details/{{ client.id }}">Details</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p id="no-clients-message" style="display: none;">Keine Klienten gefunden.</p>
        </div>
    </div>
</body>
</html>

