<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unterschriften erfassen</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="center-container">
        <div class="loginContainer">
            <div class="reset-container">
                <div class="reset-content">
                    <h2>Unterschrift einfügen</h2>
                    <form id="signatureForm" action="/sign_capture" method="post" onsubmit="prepareSignature()">
                        <canvas id="signatureCanvas" width="400" height="200" style="border:1px solid #000;"></canvas>
                        <input type="hidden" id="signatureData" name="signatureData" value="">
                        <input type="hidden" name="origin_function" value="{{ origin_function }}">
                        <div class="accordion-button">
                            <button type="submit">Speichern</button>
                            <button type="button" onclick="clearSignature()">Leeren</button>
                            <button type="button" onclick="close_popup()">Abbrechen</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        function clearSignature() {
            let canvas = document.getElementById("signatureCanvas");
            let context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height);
            document.getElementById("signatureData").value="";
        }
        function close_popup() {
                    window.history.back();
        }
        function prepareSignature() {
            let canvas = document.getElementById("signatureCanvas");
            let signatureData = canvas.toDataURL(); // Konvertiere das Bild zu Base64

            // Sende die Unterschriftsdaten an das Flask-Backend
            fetch('/sign_capture', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({signatureData: signatureData}),
            });
        }
    </script>
</body>
</html>