<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Account Lock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Flash Nachrichten anzeigen -->
    <div id="flashModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

     <div class="center-container">
        <div class="loginContainer">
            <div class="reset-container">
                <div class="reset-content">
                    <p>Wollen Sie diesen Account wirklich sperren?</p>
                    <form action="{{ url_for('account_lock.account_lock', person_id=person_id) }}" method="post">

                        <div class="accordion-button">
                            <button type="button" onclick="close_popup()">Nein</button>
                            <button type="submit">Ja</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
    function close_popup() {
        var return_url = "{{ return_url }}";
        window.location.href = return_url;
    }
    </script>
<script>
        window.onload = function() {
            // Überprüfen, ob Nachrichten vorhanden sind
            {% if get_flashed_messages() %}
                let modal = document.getElementById("flashModal");
                let span = document.getElementsByClassName("close")[0];

                // Modal anzeigen
                modal.style.display = "block";

                // Schließen, wenn das "X" geklickt wird
                span.onclick = function() {
                    modal.style.display = "none";
                };

                // Schließen, wenn außerhalb des Modals geklickt wird
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            {% endif %}
        }
    </script>
</body>
</html>

